

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <table id="action-table" class="table table-hover">
      <thead>
        <tr>
          <th class="dynatable-head">Influence</th>
          <th class="dynatable-head">Master</th>
          <th class="dynatable-head">Contenders</th>
        </tr>
      </thead>
      <tbody>
        {% for influence in influence_list %}
        <tr>
          <td>{{ influence.influence.name }}</td>
          <td>{{ influence.master.name }}</td>
          <td>{{ influence.contenders_name|join:", "  }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

