{% extends "base.html" %}
{% load i18n %}

{% block head %}
{% endblock %}

{% load bootstrap3 %}
{% block content %}

<div class="row">
  <div class="col-md-offset-3 col-md-6">
  
  
  
  You have {{exp}} exp points and {{special_exp}} special exp points to spend. 
  </p> 
  <form class="spending" action="" method="post">{% csrf_token %}

        
  
        {{discipline_forms}}
        {{attribute_forms}}

      <div class="text-right">
           <input class="btn btn-primary" type="submit" value="Next"/>
      </div>
    </form>

  </div>
  
</div>

{% endblock %}
